<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="../static/style.css"/>
    </head>
    <body>

        <label for="First Name"><b>Firstname</b></label>
        <input type="text">

        <label for="Last Name"><b>Lastname</b></label>
        <input type="text">

        <label for="Username"><b>Username</b></label>
        <input type="text">

        <label for="Password"><b>Password</b></label>
        <input type="password">

        <br>
        <button type="Submit" class="registerbtn">Register</button>
</body>
</html>